/* Estilo global */
body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del header */
header {
    display: flex;
    height: 90px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

/* Estilo de la parte izquierda (vacía) */
.header-left {
    flex: 1;
}

/* Estilo de la parte central (logo) */
.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* Quita la subraya del enlace */
    color: white;
}

.header-center img {
    width: 120px;
    height: 48px;
}

.header-center img:hover {
    cursor: crosshair;
}

/* Estilo de la parte derecha (iconos de redes sociales) */
.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right a {
    margin-left: 10px;
    /* Espacio entre los iconos */
    text-decoration: none;
    /* Quita la subraya del enlace */
    color: white;
}

.header-right a:hover {
    opacity: 0.8;
    /* Cambia la opacidad al pasar el mouse */
    cursor: crosshair;
}

/* Contenedor principal con Flexbox */
main {
    display: flex;
    flex-wrap: wrap;    /* Permite que los elementos se envuelvan cuando no haya espacio */
    justify-content: space-between;    /* Distribuye los elementos horizontalmente */
    padding: 20px;
}

/* Estilo para la sección 1 */
.section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;    /* Centra horizontalmente la sección1 */
    align-items: center;
    padding: 20px;
}

/* Estilo para el contenedor de la parte izquierda */
.section1-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    /* Espacio a la derecha del contenedor izquierdo */
}

/* Estilo para el contenedor de la parte derecha */
.section1-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;    /* Espacio a la izquierda del contenedor derecho */
}


/* Estilo para la sección interna */
.section1-inner {
    text-align: left;
}

/* Estilo para el logo de OnlyFans */
.section1-inner img {
    width: 120px;
    height: 30px;
}

/* Estilo para el texto "INSTANT ACCESS" */
.instant-access {
    font-size: 80px;
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: left;
    margin: 0;
}

/* Estilo para el texto "TO ALL OF ME" */
.to-all-of-me {
    font-size: 80px;
    color: black;
    text-align: left;
    margin: 0;
}

/* Estilo para el botón "JOIN NOW" */
.join-now-button {
    font-size: 22px;
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #633f83;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.join-now-button:hover {
    background-color: #543b77;
    transition: background-color 0.3s;
    cursor: crosshair;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Sombra al hacer hover */
    transform: scale(1.05);
    /* Efecto de zoom-out */
}

/* Estilo para la imagen de la parte derecha */
.section1-right img {
    width: 490px;
    height: 690px;
    transition: transform 0.3s, box-shadow 0.3s;
    /* opacity: .8; */
    justify-content: center;
}

.section1-right img:hover {
    transform: scale(1.05);    /* Efecto de zoom-out */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    /* Sombra al hacer hover */
    /* opacity: 1; */
    filter: contrast(120%);
}

/* Estilo para el banner 1 */
.banner1 {
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
}

/* Estilo para cada banner-section */
.banner1-section {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Estilo para las imágenes en cada banner-section */
.banner1-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;    /* Forma redondeada */
    transition: transform 0.3s;    /* Efecto de zoom-out en hover */
}

/* Efecto de zoom-out en hover */
.banner1-section img:hover {
    transition: background-color 0.3s;    /* cursor: crosshair; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    /* Sombra al hacer hover */
    transform: scale(1.05);    /* Efecto de zoom-out */
}

/* Estilo para el texto en cada banner-section */
.banner1-section p {
    margin-left: 10px;    /* Espacio entre la imagen y el texto */
    text-align: left;    /* Alineado a la izquierda */
}

/* Estilo para section2 */
.section2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Estilo para la parte izquierda en section2 */
.section2-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para la imagen en section2 */
.section2-left img {
    width: 490px;
    height: 690px;
    transition: transform 0.3s;
    /* opacity: .8; */
}

/* Efecto de zoom-out en hover en la imagen */
.section2-left img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    /* Sombra */
    /* opacity: 1; */
    filter: contrast(120%);
}

/* Estilo para la parte derecha en section2 */
.section2-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

/* Estilo para la sección interna en section2 */
.section2-inner {
    text-align: left;
}

/* Estilo para el texto en section2 */
.section2-inner p {
    margin: 0;
}

.styled-text-black {
    font-size: 65px;
    text-align: left;
}

/* Estilo para el texto con borde blanco en section2 */
.styled-text-white {
    font-size: 63px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-align: left;
}

/* Estilo para el botón "SUBSCRIBE NOW" */
.subscribe-button {
    font-size: 22px;
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #633f83;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.subscribe-button:hover {
    background-color: #543b77;
    transition: background-color 0.3s;
    cursor: crosshair;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    /* Sombra al hacer hover */
    transform: scale(1.05);    /* Efecto de zoom-out */
}

/* Estilo para section3 */
.section3 {
    width: 100%;
    display: flex;
    flex-direction: column;    /* Cambio a dirección de columna */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Estilo para la sección superior en section3 */
.section3-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

/* Estilo para las secciones top-left y top-right */
.section3-top-left, .section3-top-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    justify-content: center;
}

/* .section3-top-left {
    justify-content: center;
} */

/* Estilo para el texto en top-left */
.section3-inner p {
    margin: 0;
}

/* Estilo para las imágenes en top-right */
.section3-top-right img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    /* opacity: .8; */
}

/* Efecto de zoom-out en hover en las imágenes de top-right */
.section3-top-right img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    /* Sombra al hacer hover */
    /* opacity: 1; */
    filter: contrast(120%);
}

/* Estilo para la sección inferior en section3 */
.section3-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

/* Estilo para las secciones bottom-left y bottom-right */
.section3-bottom-left,
.section3-bottom-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

/* Estilo para las imágenes en bottom-left y bottom-right */
.section3-bottom-left img,
.section3-bottom-right img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    /* opacity: .8; */
}

/* Efecto de zoom-out en hover en las imágenes de bottom-left y bottom-right */
.section3-bottom-left img:hover,
.section3-bottom-right img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Sombra al hacer hover */
    /* opacity: 1; */
    filter: contrast(120%);
}

/* Estilo para banner2 con Flexbox */
.banner2 {
    width: 100%;
    background-color: #633f83;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Estilo para el texto en banner2 */
.banner2-text {
    margin: 10px 0 0 0;
    font-size: 50px;
    white-space: nowrap;    /* Evitar salto de línea del texto */
    animation: moveText 10s linear infinite;    /* Ajusta la duración de la animación */    /* Cambia la posición inicial del texto para que comience dentro del contenedor */
    transform: translateX(100%);
    justify-content: center;
    align-items: center;
}

/* Animación para desplazar el texto de derecha a izquierda */
@keyframes moveText {
    0% {
        transform: translateX(100%);        /* Iniciar fuera del contenedor a la derecha */
    }

    100% {
        transform: translateX(-100%);        /* Terminar fuera del contenedor a la izquierda */
    }
}

/* Estilo para banner3 con Flexbox */
.banner3 {
    width: 100%;
    background-color: #d7aee4;
    color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Estilo para el texto en banner3 */
.banner-text3 {
    margin: 10px 0 0 0;
    font-size: 50px;
    white-space: nowrap;
    animation: moveText3 10s linear infinite;    /* Animación que se repite infinitamente */
    transform: translateX(100%);    /* Inicia fuera del contenedor a la derecha */
}

/* Animación para desplazar el texto de derecha a izquierda */
@keyframes moveText3 {
    0% {
        transform: translateX(-100%);        /* Inicia fuera del contenedor a la derecha */
    }

    100% {
        transform: translateX(100%);        /* Termina fuera del contenedor a la izquierda */
    }
}

/* Estilo para section4 */
.section4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Estilo para la sección izquierda en section4 */
.section4-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    /* Alineado a la izquierda */
    text-align: left;
}

.section4-left-inner {
    padding: 30px;
}

/* Estilo para el texto en section4-left */
.section4-inner p {
    margin: 0;
    line-height: 1;    /* Sin interlineado */
}

/* Estilo para el párrafo en section4-left */
.section4-paragraph {
    padding: 20px;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: right;    /* Alineado a la derecha */
    font-size: 16px;
    line-height: 1.2;
    color: black;
}

/* Estilo para el botón en section4-left */
.subscribe-button {
    font-size: 22px;
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #633f83;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* Estilo para la sección derecha en section4 */
.section4-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para la imagen en section4-right */
.section4-right img {
    width: 100%;
    max-width: 540px;
    height: auto;
    transition: transform 0.3s;
}

.section4-right img:hover {
    transform: scale(1.05);    /* Efecto de zoom-out */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    /* Sombra al hacer hover */
}

/* gallery */
.gallery {
    width: 100%;
    display: flex;
    height: 480px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}

.gallery img {
    height: 460px;
    width: 70px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.gallery img:hover {
    /* cursor: crosshair; */
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.gallery-right {
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.gallery-right p {
    margin: 0px;
    /* padding: 0 50px 0 50px; */
}

.insta-button {
    font-size: 22px;
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #633f83;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.insta-button:hover {
    background-color: #543b77;
    transition: background-color 0.3s;
    cursor: crosshair;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);   /* Sombra al hacer hover */
    transform: scale(1.05);  /* Efecto de zoom-out */
}

/* Estilo para el footer */
.footer {
    background-color: #333;    /* Color de fondo del footer */
    color: #fff;    /* Color de texto del footer */
    text-align: center;    /* Centrar el contenido del footer */
    padding: 20px 0;    /* Espaciado interno superior e inferior */
}

/* Estilo para el copyright */
.copyright {
    font-size: 14px;    /* Tamaño de fuente para el copyright */
}

/* Estilo para los iconos sociales */
.social-icons {
    margin-top: 10px;   /* Espacio superior entre el texto y los iconos */
}

.social-icons a {
    display: inline-block;    /* Mostrar los iconos en línea */
    margin: 0 10px;    /* Espaciado horizontal entre los iconos */
}

.social-icons img {
    width: 16px;    /* Tamaño de los iconos */
    height: 16px;    /* Tamaño de los iconos */
}

.social-icons img:hover {
    cursor: crosshair;

}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    /* Ajustes en el diseño del header en modo portrait */
    header {
        flex-direction: column;       /* Cambio a dirección de columna */
        height: auto;        /* Altura automática para acomodar contenido vertical */
        padding: 10px;        /* Reducción del espacio interno */
    }

    .header-center {
        order: 2;        /* Mover el logo al medio en modo portrait */
    }

    .header-left,
    .header-right {
        order: 1;        /* Mover la parte izquierda y derecha arriba en modo portrait */
    }

    .header-right {
        margin-top: 10px;        /* Espacio entre los iconos y el logo */
        justify-content: center;        /* Centrar iconos horizontalmente */
    }

    .main {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section1 {
        flex-direction: column;        /* Cambio a dirección de columna */
        align-items: center;        /* Centrar verticalmente la sección1 */
        padding: 10px;        /* Reducción del espacio interno */
    }

    .section1-left,
    .section1-right {
        flex: 1;        /* Ancho al 100% en modo portrait */
        margin: 0;        /* Elimina el margen lateral */
        text-align: center;        /* Centra horizontalmente el contenido */
        padding: 10px;
    }

    .section1-left {
        margin-bottom: 10px;        /* Espacio inferior entre la sección izquierda y derecha */
    }

    .section1-right img {
        max-width: 100%;        /* Establecer el ancho máximo al 100% */
        height: auto;        /* Altura automática para mantener la proporción */
    }

    /* Establece un ancho máximo para evitar que las secciones se vuelvan demasiado estrechas en pantallas muy pequeñas */
    .banner1 {
        max-width: 400px;
        flex-direction: column;        /* Cambio a dirección de columna */
        padding: 10px;
        height: auto;
    }

    /* Alinea las secciones en columnas */
    .banner1-section {
        width: 100%;
        margin-bottom: 10px;        /* Espacio entre secciones */
        text-align: left;
        justify-content: center;
    }

    /* Restaura el estilo original de las imágenes en modo portrait */
    .banner1-section img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: transform 0.3s;
    }

    /* Asegura que el texto esté centrado */
    .banner1-section p {
        margin-left: 30px;
        text-align: left;
    }

    /* Cambios en la distribución de las secciones en modo portrait */
    .banner1-section:nth-child(odd) {
        order: 1;        /* Secciones impares primero */
    }

    .banner1-section:nth-child(even) {
        order: 2;        /* Secciones pares después de las impares */
    }

    .section2 {
        flex-direction: column;        /* Cambio a dirección de columna */
        align-items: center;        /* Centrar verticalmente la sección2 */
        padding: 10px;        /* Reducción del espacio interno */
    }

    .section2-left,
    .section2-right {
        flex: 1;        /* Ancho al 100% en modo portrait */
        margin: 0;        /* Elimina el margen lateral */
        text-align: center;        /* Centra horizontalmente el contenido */
    }

    .section2-left img {
        max-width: 100%;        /* Ancho máximo para la imagen */
        height: auto;        /* Altura automática para la imagen */
        transition: transform 0.3s;        /* Efecto de zoom-out en hover */
    }

    .section2-right {
        margin-top: 10px;        /* Espacio superior entre la sección izquierda y derecha */
    }

    .section2-inner {
        text-align: center;        /* Centra horizontalmente el texto en la sección interna */
    }

    .styled-text-black,
    .styled-text-white {
        font-size: 40px;        /* Tamaño de fuente reducido en modo portrait */
    }

    .section3 {
        flex-direction: column;        /* Cambio a dirección de columna */
        align-items: center;        /* Centrar verticalmente la sección3 */
        padding: 10px;        /* Reducción del espacio interno */
    }

    .section3-top,
    .section3-bottom {
        flex-direction: column;        /* Cambio a dirección de columna */
        width: 100%;        /* Ancho al 100% en modo portrait */
        max-width: none;        /* Ancho máximo eliminado */
    }

    .section3-top-left,
    .section3-top-right,
    .section3-bottom-left,
    .section3-bottom-right {
        flex: 1;        /* Ancho al 100% en modo portrait */
        margin: 0;        /* Elimina el margen lateral */
        text-align: center;        /* Centra horizontalmente el contenido */
    }

    .section3-inner p {
        margin: 0;
    }

    .section3-top-right img,
    .section3-bottom-left img,
    .section3-bottom-right img {
        max-width: 100%;        /* Ancho máximo para las imágenes */
        height: auto;        /* Altura automática para las imágenes */
        transition: transform 0.3s;        /* Efecto de zoom-out en hover */
        padding: 10px;
    }

    .section3-top-right img:hover,
    .section3-bottom-left img:hover,
    .section3-bottom-right img:hover {
        transform: scale(1.05);        /* Efecto de zoom-out en hover */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);        /* Sombra al hacer hover */
        opacity: 1;
        filter: contrast(120%);
    }

    .section4 {
        flex-direction: column;        /* Cambio a dirección de columna */
        align-items: center;        /* Centrar verticalmente la sección4 */
        padding: 20px;        /* Espacio interno */
    }

    .section4-left,
    .section4-right {
        flex: 1;        /* Ancho al 100% en modo portrait */
        margin: 0;        /* Elimina el margen lateral */
        text-align: center;        /* Centra horizontalmente el contenido */
    }

    .section4-inner p,
    .section4-paragraph {
        margin: 0;
    }

    .section4-paragraph {
        text-align: center;        /* Centra horizontalmente el párrafo */
        padding: 10px;        /* Espacio interno */
    }

    .subscribe-button {
        margin-top: 20px;        /* Aumenta el espacio superior del botón */
    }

    .section4-right img {
        max-width: 100%;        /* Ancho máximo para la imagen */
        height: auto;        /* Altura automática para la imagen */
        transition: transform 0.3s;        /* Efecto de zoom-out en hover */
    }

    .section4-right img:hover {
        transform: scale(1.05);        /* Efecto de zoom-out en hover */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);        /* Sombra al hacer hover */
    }

    .gallery {
        padding: 10px;        /* Reducir el espacio interior */
        flex-direction: column;        /* Cambiar la dirección a columna */
        height: auto;        /* Altura automática */
        align-items: center;        /* Centrar verticalmente */
    }

    .gallery img {
        width: 100%;        /* Ocupar todo el ancho disponible */
        max-width: none;        /* Eliminar el máximo ancho */
        height: auto;        /* Altura automática */
        opacity: 1;        /* Restaurar la opacidad */
        filter: none;        /* Eliminar el filtro de contraste */
        transition: transform 0.3s;        /* Mantener el efecto de zoom en hover */
    }

    .gallery img:hover {
        transform: scale(1);        /* Eliminar el efecto de zoom en hover */
        cursor: crosshair;        /* Cambiar el cursor al hacer hover */
    }

    .gallery-right {
        padding: 20px;
    }
}